.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }
.container{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 2rem;
    background-color: #f4f5f4;
    padding-inline: 8rem;
    margin: 0;
}
.grid-item{
    border-radius: 5px;
}
.create-schedule{
    background-color: #faefe3;
}
.social-media-title{
    background-color: #7750dc;
}
.schedule-chart{
    background-color: #dcd0fd;
}
.write-content{
    background-color: #ffcc69;
}
.manage-accounts{
    background-color: #fffefe;
}
.posting-schedule{
    background-color: #ffcc69
}
.faster-audience{
    background-color: #fffefe;
}
.growth-stats{
    background-color: #7750dc;
}